<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlogPulse</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <p class="left">BlogPulse</p> <a id="first" href="/">HOME</a> | <a href="/authors">ALL AUTHORS</a> | <a href="authors/new">ADD AUTHOR</a>
    </nav>
    <hr>
    <%- body %>
</body>
</html>